@media(max-width:767px){
	#services .service-bottom .service-item {
		flex-basis: 34%;
		margin: 3% 7.5%;
		align-items: center;
	}
}

@media(max-width:540px){
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}
}

@media(max-width:400px){
    #services .service-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 108%;
    }
    }